.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.content {
  margin-left: 200px;
  margin-right: 200px;
}
.header {
  margin-top: 45px;
  width: 880px;
}
.profile {
  display: flex;
}
.profile__info {
  display: grid;
  grid-template-areas: "title"" "description" "button";
}