.footer__copyright {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 67px;
  margin-bottom: 60px;
  color: #545454;
}

/*styles for 620px */

@media screen and (max-width: 620px) {
  .footer__copyright {
    display: flex;
    justify-content: center;
  }
}
