.footer__copyright {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 67px;
  margin-bottom: 60px;
  color: #545454;
}

/*styles for 620px */

@media (max-width: 620px) {
  .footer__copyright {
    line-height: 17px;
    font-size: 14px;
    margin-top: 48px;
    margin-bottom: 36px;
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    color: #545454;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
